body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-size: 16px; /* Base font size for desktop and mobile */
}

h1 {
    padding: 8px;
    margin: 0;
}

header {
    padding: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav#nav-menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav#nav-menu .icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
}

nav#nav-menu .icon-button svg {
    width: 24px;
    height: 24px;
    stroke: #333;
    pointer-events: none;
}

nav#nav-menu .icon-button.has-new-messages,
nav#nav-menu .icon-button.has-notifications {
    position: relative;
}

nav#nav-menu .icon-button.has-new-messages::after,
nav#nav-menu .icon-button.has-notifications::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
}

#auth {
    position: relative;
    display: flex;
    align-items: center;
}

#auth:hover .dropdown {
    display: block;
}

#auth .dropdown {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    right: 0;
    background-color: #f5f5f5;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    box-sizing: border-box;
}
#auth .dropdown button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: none;
    background-color: #f5f5f5;
    color: #333;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    min-height: 44px;
    width: 100%;
}
#auth .dropdown button:hover {
    background-color: #e0e0e0;
}

#profile {
    padding: 8px;
    border: none;
    background-color: #f5f5f5;
    color: #333;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#profile:hover {
    background-color: #e0e0e0;
}

main {
    flex-grow: 1;
    margin: 0 auto;
    overflow-y: auto;
    width: 100%;
    max-width: 780px;
}

.chat-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 0;
    align-content: end;
    padding: 10px;
    background-color: #fff;
}

#chat-input {
    position: sticky;
    bottom: 0;
    padding: 10px;
    background-color: #fff;
}

#chat-form {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}
#message-input {
    flex-grow: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    overflow-y: auto;
}
#message-input:focus {
    outline: none;
    border-color: #007bff;
}
#send-message {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
}
#send-message svg {
    width: 24px;
    height: 24px;
    stroke: #333;
    pointer-events: none;
}
#send-message:hover {
    background-color: #e0e0e0;
}

.message {
    padding: 8px;
    border-radius: 12px;
    background-color: #f1f1f1;
    color: #333;
    line-height: 1.3;
    max-width: 80%;
    width: fit-content;
    white-space: pre-wrap;
    word-break: break-all;
}

.message.own-message {
    margin-left: auto;
    background-color: #fff;
    color: #007bff;
}

#request-channel {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px;
}

#request-channel input {
    flex-grow: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#request-channel button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
}

#request-channel button:hover {
    background-color: #e0e0e0;
}

ul#notifications-list,
ul#channels {
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

#notifications-list li,
#channels li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    list-style: none;
}

#notifications-list .notification.has-new-notifications::before,
#channels .channel.has-new-messages::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #007bff;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
}

#notifications-list .channel-request {
    flex-direction: column;
}
#notifications-list .channel-request .request-text {
    margin-bottom: 8px;
    width: 100%;
}

#notifications-list .channel-request .request-actions {
    display: flex;
    gap: 24px;
    width: 100%;
    max-width: 480px;
}

#notifications-list .channel-request .reject,
#notifications-list .channel-request .approve {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

#notifications-list .channel-request .reject {
    background-color: #ff0000;
    color: #fff;
}
#notifications-list .channel-request .approve {
    background-color: #28a745;
    color: #fff;
}

#connect-wallet {
    padding: 8px;
    border: none;
    background-color: #f5f5f5;
    color: #333;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
    min-height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#connect-wallet svg {
    width: 20px;
    height: 20px;
    stroke: #333;
    pointer-events: none;
}
#connect-wallet:hover {
    background-color: #e0e0e0;
}

#placeholder {
    padding-top: 16px;
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 280px) {
    #notifications-list .channel-request .request-actions {
        flex-direction: column;
        gap: 8px;
        width: 100%;
    }
}

.hidden {
    display: none;
}
