body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header {
    padding: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav#nav-menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav#nav-menu .icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
}

nav#nav-menu .icon-button svg {
    width: 24px;
    height: 24px;
    stroke: #333;
    pointer-events: none;
}

nav#nav-menu .icon-button.has-new-messages,
nav#nav-menu .icon-button.has-notifications {
    position: relative;
}

nav#nav-menu .icon-button.has-new-messages::after,
nav#nav-menu .icon-button.has-notifications::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
}

#auth {
    position: relative;
    display: flex;
    align-items: center;
}

#auth .dropdown {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 10;
}

#auth:hover .dropdown {
    display: block;
}

#auth .dropdown button {
    display: block;
    padding: 5px 10px;
    border: none;
    background: none;
    cursor: pointer;
    text-align: center;
    width: 100%;
}

main {
    flex-grow: 1;
    overflow-y: auto;
}

.chat-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    min-height: 0;
    align-content: end;
}

#chat-input {
    position: sticky;
    bottom: 0;
}

.message {
    max-width: 80%;
    width: fit-content;
}

.message.own-message {
    margin-left: auto;
}

ul#channels {
    padding: 0;
    overflow-wrap: break-word;
    overflow-y: auto;
}
#channels li {
    padding: 10px;
    cursor: pointer;
    align-items: center;
    list-style: none;
}

#channels .channel.has-new-messages::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
    margin-right: 8px;
    vertical-align: middle;
}

.hidden {
    display: none;
}
